<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BemkoStanyMagazynowe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationType="BemkoStanyMagazynowe.CustomRequestValidator"/>
  </system.web>
  <applicationSettings>
    <BemkoStanyMagazynowe.Properties.Settings>
      <setting name="stanyMagazynoweQuery" serializeAs="String">
        <value>select twr_kod Symbol, convert(varchar(10),getdate(), 121) Data,

case when CDN.bmp_DokSumaStanowTowaru(Twr_GIDTyp,Twr_GIDFirma,Twr_GIDNumer,Twr_Typ,1,1,1,Twr_GIDFirma,12,0,0,0, DATEDIFF(d,'1800-12-28T00:00:00',getdate()), 0,3, 0,0,0,0,0,0,0,0) &lt; 0 then 0

else CDN.bmp_DokSumaStanowTowaru(Twr_GIDTyp,Twr_GIDFirma,Twr_GIDNumer,Twr_Typ,1,1,1,Twr_GIDFirma,12,0,0,0, DATEDIFF(d,'1800-12-28T00:00:00',getdate()), 0,3, 0,0,0,0,0,0,0,0) end Stan

,Twr_JM Jm

from cdn.TwrKarty

where Twr_Typ in (1,2)

and Twr_Archiwalny=0</value>
      </setting>
      <setting name="loginContext" serializeAs="String">
        <value>Machine</value>
      </setting>
      <setting name="wersja" serializeAs="String">
        <value>1.0.0</value>
      </setting>
    </BemkoStanyMagazynowe.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DBConn" connectionString="Server=.;Database=CDNXL_Bemko;User Id=sa;Password=konik21;"/>
  </connectionStrings>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\Logs\BemkoStanyMagazynowe\BemkoStanyMagazynowe.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-8level %identity %properties{Code} %message %location%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>