<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OptimaOperations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OptimaOperations.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>serwis</value>
            </setting>
            <setting name="Haslo" serializeAs="String">
                <value>haslo</value>
            </setting>
            <setting name="Firma" serializeAs="String">
                <value>baza</value>
            </setting>
            <setting name="KonString" serializeAs="String">
                <value>NET:CDN_KNF_Konfiguracja,ksrv06,NT=0</value>
            </setting>
            <setting name="OptimaLoc" serializeAs="String">
                <value>C:\Program Files (x86)\Comarch ERP Optima</value>
            </setting>
        </OptimaOperations.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
