<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="BazaCDNXL" value="Kabis Sp z.oo"/>
    <add key="PlikLog" value="C:\firmowe\bemko\log\cdnxl.log"/>
    <add key="ErrorLog" value="C:\log\errors.log"/>
    <add key="ProgramID" value="ServiceBemko"/>
    <add key="OpeIdent" value="ADMIN"/>
    <add key="OpeHaslo" value="konik21"/>
    <add key="SerwerKlucza" value="localhost"/>
    <add key="TrybZamknieciaWMZS" value="1"/>
    <add key="Tryb" value="2"/>
    <add key="TrybWsadowy" value="1"/>
    <add key="Winieta" value="-1"/>
    <add key="ConnString" value="Server=.\SQL2014;Database=ERPXL_Kabis_Spzoo;User Id=sa;Password=konik21;"/>
    <add key="WersjaAPI" value="20163"/>
    <add key="DSN" value="WebService"/>
    <add key="DBPass" value="konik21"/>
    <add key="DBLogin" value="sa"/>
    <add key="TempDir" value="C:\firmowe\bemko\temp\"/>
  </appSettings>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\Logs\BenkoWebService.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-8level %identity %properties{Code} %message %location%newline"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="DBConn" connectionString="Server=(local);Database=CDNXL_Bemko;User Id=sa;Password=konik21"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3453/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap1" contract="LuxBemkoService.WebServiceSoap" name="WebServiceSoap1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 
</configuration>
