<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BazaCDNXL" value="JanexTestVPN"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PlikLog" value="C:\logs\cdnxl.log"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ErrorLog" value="C:\logs\errors.log"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OpeIdent" value="B2B"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OpeHaslo" value="JnxSlowik12#$"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SerwerKlucza" value=".::1043166511"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConnString" value="Server=10.0.0.240;Database=cdnxl_janex_test;User Id=sa;Password=konik21;Application Name=BmpWebService;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
      <add name="DBConn" 
        connectionString="Server=10.0.0.240;Database=cdnxl_janex_test;User Id=sa;Password=konik21;Application Name=BmpWebService;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>